@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

// Variables

$Marine-blue: #02295a;
$Purplish-blue: #473dff;
$Pastel-blue: #adbeff;
$Light-blue: #bfe2fd;
$Strawberry-red: #ed3548;

$Cool-gray: #9699ab;
$Light-gray: #d6d9e6;
$Magnolia: #f0f6ff;
$Alabaster: #fafbff;
$White: #ffffff;


$fontFamily: 'Ubuntu', sans-serif;
$fontSize: 16px;